/* width */
::-webkit-scrollbar {
  width: 0;
}
body{
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:flex;
	align-items:center;
	justify-content:center;
	margin:0;
	padding:0;
	user-select:none;
  -webkit-tap-highlight-color:transparent;
}

#mainmenu{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	font-family:cursive;
	font-size:12px;
}

#gameend{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	font-family:cursive;
	font-size:12px;
	background:white;
}

#gameplayui{
	width:40%;
	height:100%;
	position:absolute;
}

#gamepause{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	font-family:cursive;
	font-size:12px;
	background:whitesmoke;
}

#whitebox{
	width:400px;
	height:480px;
	background:white;
	border-radius:20px;
}

#infomenu{
	position:absolute;
	width:100%;
	height:100%;
	top:0;
	left:0;
	display:none;
	align-items:center;
	justify-content:center;
	flex-direction:column;
	font-family:cursive;
	font-size:12px;
}
#aditionalbutton img:hover{
	background:whitesmoke;
	border-radius:50%;
}
@media screen and (max-width:720px){
	#gameplayui{
		width:100%;
		height:100%;
	}
	#whitebox{
		width:100%;
		height:100%;
		border-radius:0;
		border:none;
	}
}